.shadow {
  box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.3)
}

.thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1pxsolidvar(--bs-border-color);
  border-radius: 0.375rem;
  max-width: 100%;
}

.img_card {
  width: 120px;
  height: 170px;

  @media (max-width: 575px)  {
    width: 150px;
    height: 220px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 120px;
    height: 170px;
  }
  @media (min-width: 992px) {
    width: 103px;
    height: 140px;
  }
  @media (min-width: 1200px) {
    width: 140px;
    height: 190px;
  }
}
